
<div class="stolen-frosty span6 offset3 text-center">
	 
	<h1 class="stolen-h1">Hello World</h1>
	
	<br/>
	

	<h2>blah blah blah blah blah</h2>

	<br/>
	<br/>

	<%= link_to 'Launch', "#", :class => 'btn btn-large btn-primary'%>
	
</div>